<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <style>
        .wrapper{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

        }
        .box{
            align-items: center;
            width: 200px;
            height: 200px;
            background-color: rgb(159,197,248);
            border: 2px black solid;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
  <h1>Welcome</h1>
    <div class="wrapper">
        <div class="box">
        </div>
        <div class="box">
        </div>
        <div class="box">
        </div>
    </div>

</body>
</html>