<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .wrapper{
            display: inline-flex;
            align-items:center;
            justify-content: start;
            flex-wrap: wrap;

        }
        .box{
            margin: 10px 10px;
            align-items: center;
            width: 200px;
            height: 200px;
            background-color: rgb(159,197,248);
            border: 2px black solid;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Welcome</h1>
    <div class="wrapper">
        {%for i in range(_num)%}
        <div class="box">
        </div>
        {%endfor%}
    </div>

</body>
</html>